.header {
  background-color: black;
}
.header__content {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}
.header__content__pc {
  display: flex;
  color: white;
  justify-content: space-around;
}
.header__content__pc > img {
  padding: 0 10px;
  object-fit: contain;
  width: 18%;
  cursor: pointer;
}
.header__content__pc > p {
  padding: 13px 20px 0;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
.header__content__pc__items {
  display: flex;
  flex: 1;
  padding-left: 30px;
}
.header__content__pc__items > p {
  padding: 15px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.header__content__pc__items > p:hover {
  background-color: rgb(49, 49, 49);
}
/* Styling the Sublists when the user hover on the nav items */
.header__solutions {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: space-around;
  padding: 60px 0 20px;
  position: absolute;
  width: 100%;
  max-width: 1440px;
}
.header__solutionsColm > h5 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
.header__solutionsColm > h5:hover {
  color: rgb(207, 30, 30);
  cursor: pointer;
}

.header__resources {
  background-color: rgb(238, 238, 238);
  position: absolute;
  width: fit-content;
  padding: 15px 35px 15px 15px;
  margin-left: 388px;
}
.header__about {
  background-color: rgb(238, 238, 238);
  position: absolute;
  width: fit-content;
  padding: 15px 35px 15px 15px;
  margin-left: 628px;
}
.header__resources > p,
.header__about > p,
.header__solutionsColm > p {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 400;
}
.header__resources > p:hover,
.header__about > p:hover,
.header__solutionsColm > p:hover {
  color: rgb(207, 30, 30);
  cursor: pointer;
}
.header__content__pc__search__body {
  flex: 1;
  width: 100%;
}
.header__search__body {
  width: 45%;
  display: block;
  margin: 0 auto;
}
.header__content__pc__search__body > div > div > input {
  background-color: black;
  border: none;
  border-radius: 5px;
  outline-width: 0;
  color: white;
  padding: 5px 10px;
  font-size: 17px;
  flex: 1;
}

.header__content__pc__search__body > div > div > p {
  font-size: 17px;
}
.header__searchBox {
  position: relative;
  animation-name: box;
  animation-duration: 0.5s;
}
@keyframes box {
  0% {
    top: -20px;
  }
  100% {
    top: -0px;
  }
}
.header__sugg {
  background-color: #212121;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 35px;
  border-radius: 5px;
  position: relative;
  animation-name: sugg;
  animation-duration: 0.5s;
}
@keyframes sugg {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: -0px;
  }
}
@keyframes animH {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.header__anim {
  position: relative;
  animation-name: animH;
  animation-duration: 0.7s;
}
.header__sugg > h6 {
  padding: 15px 0 3px 15px;
  font-size: 14px;
  color: #cbcaca;
  font-weight: 600;
}
.header__sugg > p {
  padding: 6px 0 0 30px;
  color: #e6e6e6;
  font-weight: 600;
  font-size: 13px !important;
}
/* Styling the Phone version */

.header__content__ph {
  display: none;
  padding: 10px 25px;
  background-color: black;
}
.header__content__ph > img {
  object-fit: contain;
  width: 35%;
}
.header__content__ph > i {
  font-size: 25px;
  display: block;
  margin: auto 0;
}
.header__modelPh {
  color: white;
  width: 100%;
  padding-bottom: 20px;
}
.header__ph__content {
  background-color: transparent;
  color: black;
  position: absolute;
  width: 100%;
}
.header__modelPh {
  background-color: black;
  width: 100% !important;
}
.header__ph__bu {
  background-color: transparent;
}
.header__ph__bu > button {
  display: block;
  margin-left: auto;
  margin-right: 40px;
  color: white;
  background-color: #e98800;
  font-size: 17px;
  font-weight: 700;
  border: 1px solid #e98800;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px 40px;
}
.header__modelPh > div{
  display: flex;
  border-bottom: 1px solid gray;
  padding: 5px 15px ;
  margin: 0 20px 30px;
}
.header__modelPh > p{
  padding: 5px 15px 15px;
  margin: 0 20px;
  font-size: 16px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}
.header__modelPh > div > input {
  flex: 1;
  background-color: black;
  border: none;
}
.header__content__ph{
  border: 1px solid black !important;
}
.solutions__phone{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}
.solutions__phone > p {
  font-weight: 700;
  padding: 10px 0;
  font-size: 18px;
}
.add__red{
  color: #f06522;
}
@media (max-width: 990px) {
  .header {
    background-color: transparent;
    border: none;
  }
  .header__content__pc {
    display: none;
  }
  .header__content__ph > img {
    object-fit: contain;
    width: 55%;
  }
  .header__content__ph {
    display: flex;
    color: white;
    justify-content: space-between;
    border: none;
  }
}
