.section1 {
  background: url("../files/sec1.jpg");
  background-size: 100%;
  min-height: 600px;
}
.section1__content {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

.section1__content > button {
  display: block;
  margin-left: auto;
  margin-right: 40px;
  color: white;
  background-color: #e98800;
  font-size: 17px;
  font-weight: 700;
  border: 1px solid #e98800;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px 40px;
  position: relative;
  z-index: 10;
}
